@media screen and (max-width:768px) {
    .vtech-f-cnt{
        width: 100%;}
    header{
        background: #fff;
        padding: 1rem 0 1rem 0;}

        .vtech-navbar ul.vtech-side-nav li a{
            padding: 1rem 1rem;
        }
        #reimb .form-control, #docs .form-control{
            width: 93% !important;
        }
        .vtech-divider1{
            padding-top: 1rem;
        }
        #emp_dd1{
            width: 99% !important;
        }
		.logo {
    background-size: 60%!important;
    margin-top: 6px;
    height: 40px!important;
}
.vtech-ic span{
	height:26px;
	width:26px;
	padding-top: 2px;
}
.vtech-side-nav li:first-child img {
    width: 56%;
    margin-top: -5px;
}
.vtech-side-nav li img {
    width: 40%;
}
.vtech-navbar ul.vtech-side-nav li a.active, .vtech-navbar ul.vtech-side-nav li:focus a{
	font-size:14px;
}
.select_info .pull-right {
    float: right;
    margin-bottom: 35px;
}
    .col-xs-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        float: left;
        padding-right: 0;
        padding-left: 8px;}

    .col-xs-8{
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        float: left;
        padding-right: 0;
        padding-left: 0;}

    .logo{
        background-size: 60%;}
    .nav-tabs{
        margin-left: -22px;
        margin-right: 40px;
    }

}
@media screen and (min-width:768px) {
    .vtech-col-2{
        -ms-flex: 0 0 20% !important;
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 20% !important;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
    .vtech-col-10{
        -ms-flex: 0 0 80% !important;
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 80% !important;
        flex: 0 0 80% !important;
        max-width: 80% !important;
    }

}
@media screen and (max-width:991px){

    
    .col-xs-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
        padding-right: 0;
        padding-left: 8px;}

        .vtech-navbar ul{
            width: 100%;
        }
        .vtech-navbar ul li{display: inline-block}
}

@media screen and (min-width:991px){
    
}
